body{
    background-color: #083b4c;
    text-align: center;
}
.box-container{
    display:flex;
    flex-wrap: wrap;
    max-width: 1180px;
    justify-content: center;
    margin:50px auto;
}
h1{
    color: #fff;
    font-size: 3rem;
}
.box{
    width: 120px;
    height: 120px;
    margin:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.bg{
    background: #1389b2;
}
.bg-3{
    background: #0bd6a1;
}
.bg-5{
    background: #ffd166;
}
.bg-35{
    background: #f0466f;
}
